
/* Global Page Styles */

body {
	background-color: #0e0e0e;
	background-image: url("../images/body-bg.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: Arial;
}

@media all and (max-width: 979px) {
	body {
		padding: 0px;
	}
}

p {
	font-size: 12px;
	line-height: 1.5em;
}

@font-face {
	font-family: Nevis;
	src: url(../fonts/nevis.ttf);
}

ul, li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
}

a {color: #0f4db6;}
a:hover {text-decoration: underline;}

.left {float: left;}
.right {	float: right;}



/********************* Page Styles **********************/
#page-content {
	background-color: white;
	overflow: hidden;
	-webkit-border-radius: 10px; 		/* For Safari 5.1 to 6.0 				*/
	 -khtml-border-radius: 10px; 		/* for old Konqueror browsers 	*/
		 -moz-border-radius: 10px; 		/* For Firefox 3.6 to 15 				*/
			-ms-border-radius: 10px; 		/* For IE lt9						 				*/	
			 -o-border-radius: 10px; 		/* For Opera						 				*/
					border-radius: 10px; 		/* future proofing 							*/
}

@media all and (max-width: 979px) {
	#page-content {
		-webkit-border-radius: 0px; 		/* For Safari 5.1 to 6.0 				*/
		 -khtml-border-radius: 0px; 		/* for old Konqueror browsers 	*/
			 -moz-border-radius: 0px; 		/* For Firefox 3.6 to 15 				*/
				-ms-border-radius: 0px; 		/* For IE 							 				*/	
				 -o-border-radius: 0px; 		/* For Opera						 				*/
						border-radius: 0px; 		/* future proofing 							*/
	}
}

/*************** Inner banner *****************/
.inner-banner {
	height: 85px;
	background-image: url("../images/home-banner-bg.jpg");
}

.inner-banner h1 {
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 40px;
	margin-top: 30px;
}

.inner-banner .slogan {
	display: block;
	font-family: Arial;
	font-size: 20px;
  font-style: italic;
	color: #ffffff;
	padding-left: 40px;
	margin-top: 32px;
}



/******************** Header Styles ********************/

#logo {
	padding-top: 20px;
	padding-left: 40px;
}

#logo img {
	float: left; 
	width: 50px; 
	padding-top: 10px;
}

ul.business-logo {
	display: block; 
	padding-top: 10px;
}

#logo ul, #logo ul>li {display: block;}

.h1, .h2 {line-height: 1em;}

#logo .h1 {
	font-family: Nevis;
	font-size: 25px;
	font-weight: bold;
	color: #040404;
	text-shadow: 1px 1px #45494d;
}

#logo .h2 {
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
	color: #969595;
}

#phone {
	height: 35px;
	background-color: white;
	background-image: url("../images/phone-bg.png");
	background-position: 100% top;
	background-repeat: no-repeat;
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
	color: #c0c0c0;
	font: bold 17px Arial;
	line-height: 31px;
  text-align: right;
  padding-right: 10px;
}

@media all and (max-width: 959px) {
	#logo {
		width: 50%;
		padding-top: 0px;
		padding-left: 5px;
		margin-top: 0px;
	}
	
	#phone {
		width: 50%;
	}
}

@media all and (max-width: 759px) {
	header {
		padding-top: 10px;
	}
	
	#logo {
		margin-top: -10px;
	}
	
	#logo img {
		width: 35px;
	}
	
	#logo .h1 {
		font-size: 16px;
	}
	
	#logo .h2 {
		font-size: 12px;
	}
	
	#phone {
		height: 25px;
		background-size: auto;
		font-size: 14px;
	}
}

@media all and (min-width: 480px) and (max-width: 759px) {
	#phone {
		background-size: auto;
		margin-top: -10px;
	}
}

@media all and (max-width: 479px) {
		#logo {
		width: 45%;
	}
	
	#phone {
		width: 55%;
		background-size: cover;
	}	
}

/******************** Navigation Styles ********************/

nav > ul {
	float: right;
	margin-top: 20px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
}

nav > ul#mainMenu > li {
	float: left;
	list-style: none;
	text-align: center;
	background-color: white;
	margin-right: 25px;
	line-height: 26px;
	overflow: hidden;
	padding: 0 13px;
	text-transform: uppercase;
}

nav ul#mainMenu li:hover {
	color: white;
	margin-right: 25px;
	line-height: 26px;
	overflow: hidden;
	-moz-border-radius: 5px; 				/* For Firefox 3.6 to 15 				*/
	-webkit-border-radius: 5px; 		/* For Safari 5.1 to 6.0 				*/
	border-radius: 5px; 						/* future proofing 							*/
	-khtml-border-radius: 5px; 			/* for old Konqueror browsers 	*/
	background-image: linear-gradient(#236aca, #013f92, #236aca);	
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);   /******generated by http://www.melanieceraso.com/psd-to-css3/ *******/
}

nav ul#mainMenu li:hover  a{color: white;}

nav ul#mainMenu a{
	color: #808080;
	text-decoration: none;
}

nav ul#mainMenu .active-button {
	color: white;
	line-height: 26px;
	overflow: hidden;
	-moz-border-radius: 5px; 				/* For Firefox 3.6 to 15 				*/
	-webkit-border-radius: 5px; 		/* For Safari 5.1 to 6.0 				*/
	border-radius: 5px; 						/* future proofing 							*/
	-khtml-border-radius: 5px; 			/* for old Konqueror browsers		*/
	background-image: linear-gradient(#236aca, #013f92, #236aca);	
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);   /******generated by http://www.melanieceraso.com/psd-to-css3/ *******/
}

nav ul#mainMenu .active-button a{
	color: white;
	text-decoration: none;
}

@media all and (min-width: 480px) and (max-width: 979px) {
	nav > ul {
		margin-bottom: 10px;
	}
}

@media all and (max-width: 479px) {
	nav > ul {
		float: left;
		margin-left: 10px;
	}
}

/***************** Main Content Styles *****************/

main#main-content {
	min-height: 400px;
	background-color: white;
	padding-bottom: 50px;
}
	
/******************* Footer Styles ********************/

footer .line {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #cccccc;
	margin: 0;
	padding: 0;
}

footer {
	clear: both;
	min-height: 275px;
	background-color: #ededed;
	border-top: 1px solid #cccccc;
  outline: 1px solid #bababa;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
}

footer div {
	float: left;
	margin-right: 40px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 40px;
}

footer h1 {
	font-size: 15px;
	margin-bottom: 20px;
}

footer h2 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #0f4db6;
	margin: 0;
}

footer li {
	display: block;
	margin-bottom: 6px;
}

footer p {
	display: block;
	padding-bottom: 10px;
}

footer a {
	text-decoration: none;
	color: #4f4f4f;
}

footer span {font-weight: bold;}

footer time {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
}

#copyright {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;	
}

#social {
	width: 18px;
	height: 18px;
	margin: 5px;
	margin-bottom: 15px;
}

@media all and (min-width: 760px) and (max-width: 979px) {
	footer div {
		margin-right: 5px;
		padding-right: 0px;
	}
	
	#social {
		width: 18px;
		height: 18px
	}
}

#b-logo {
	float: right;
	height: 18px;
	width: auto;
	margin: 5px 0 15px;
}

@media only screen and (max-width: 479px) {
	footer {
		padding-right: 20px;
	}
}

/* Media Queries */

@media only screen and (min-width: 980px){

	header {height: 100px;}

	#logo .h1 {font-size: 25px;}
	#logo .h2 {font-size: 15px;}
	
	nav ul#mainMenu li, 
	nav ul#mainMenu li:hover, 
	nav ul#mainMenu .active-button {margin-right: 25px;}
}

@media only screen and (min-width: 760px) and (max-width: 979px){

	#logo .h1 {font-size: 25px;}
	#logo .h2 {font-size: 15px;}
	
	nav ul#mainMenu li, 
	nav ul#mainMenu li:hover, 
	nav ul#mainMenu .active-button {margin-right: 5px;}
}

@media only screen and (min-width: 480px) and (max-width: 759px){

	#logo .h1 {font-size: 20px;}
	#logo .h2 {font-size: 14px;}
	
	nav ul#mainMenu {
		margin-top: 2px; 
		margin-bottom: 5px;
	}
	nav ul#mainMenu li, 
	nav ul#mainMenu li:hover, 
	nav ul#mainMenu .active-button {margin-right: 5px; font-size: 80%;}
	
	#navbar {
		width: 95%; 
		margin-top: 2px; 
		margin-left: 5px;
	}
	#phone {
		height: 25px; 
		padding-top: 5px; 
		font-size: 12px; 
		line-height: 1.5em;
	}
}

@media only screen and (max-width: 479px){

	#logo ul>li {line-height: 1.2em}
	#logo .h1 {font-size: 12px;}
	#logo .h2 {font-size: 10px;}
	
	nav ul#mainMenu {
	margin-top: 0px 5px;
	}
	
	nav ul#mainMenu li, 
	nav ul#mainMenu li:hover, 
	nav ul#mainMenu .active-button {
		margin-right: 2px;
		margin-bottom: 5px;
		padding: 0 8px;
		font-size: 70%;
		line-height: 20px;
	}

	#phone {
		padding-top: 5px; 
		padding-right: 40px;
		font-size: 12px; 
		line-height: 1em;
		background-position: 600% top;
	}
}